In [17]:
#import pd
import pandas as pd
#sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
# Errors
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [18]:
#reading the dataSet
dataset = pd.read_csv("houses.csv")

In [19]:
#vis the Data
dataset.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [20]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Transaction                   414 non-null    float64
 1   House age                     414 non-null    float64
 2   Distance to MRT station       414 non-null    float64
 3   Number of convenience stores  414 non-null    int64
 4   Latitude                      414 non-null    float64
 5   Longitude                     414 non-null    float64
 6   House unit price              414 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 22.8 KB

In [21]:
x = dataset.drop('House unit price',axis=1)
y = dataset['House unit price']

In [22]:
x

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude
0,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2012.917,19.5,306.59470,9,24.98034,121.53951
2,2013.583,13.3,561.98450,5,24.98746,121.54391
3,2013.500,13.3,561.98450,5,24.98746,121.54391
4,2012.833,5.0,390.56840,5,24.97937,121.54245
...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381
410,2012.667,5.6,90.45606,9,24.97433,121.54310
411,2013.250,18.8,390.96960,7,24.97923,121.53986
412,2013.000,8.1,104.81010,5,24.96674,121.54067
413,2013.500,6.5,90.45606,9,24.97433,121.54310

In [23]:
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: House unit price, Length: 414, dtype: float64

In [24]:
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [25]:
print("X Train : {0} , Y Train : {1}".format(x_train.shape,y_train.shape))
print("X Test : {0} , Y Test : {1}".format(x_test.shape,y_test.shape))

X Train : (289, 6) , Y Train : (289,)
X Test : (125, 6) , Y Test : (125,)

In [26]:
# creating the model
def model(x_train,y_train):
    mod = LinearRegression()
    # fitting the training data
    mod.fit(x_train,y_train)
    return mod

In [27]:
# creating the model
model = model(x_train,y_train)

In [28]:
prediction =  model.predict(x_test)

In [29]:
prediction

array([44.93952638, 47.41997331, 23.23903596, 45.00744046, 34.8742115 ,
       49.83041247, 46.66321015, 50.05110842, 37.47614562, 43.94548775,
       45.57555686, 42.38961643, 37.05668132, 40.95605909, 47.22037979,
       40.50415053, 55.25465679, 34.01774749, 49.22038385, 31.41304964,
       45.52722967, 40.99001012, 44.43942429, 42.65702247, 40.05220153,
       13.17629878, 27.17966118, 43.57415462, 14.82722453, 36.55780235,
       46.43135634, 48.92605358, 31.33640669, 22.75457766, 26.63878846,
       54.73784533, 41.02353895, 43.71914061, 46.49715409, 39.9463756 ,
       11.20888911, 33.24643675, 47.50071658, 25.18903726, 44.69673155,
       20.31230595, 42.08654545, 38.28671199, 31.00004804, 35.26186289,
       15.68033763, 49.7038969 , 53.20026056, 44.63428214, 46.16430125,
       51.00818629, 47.21769645, 40.36861534, 33.40417594, 36.48534849,
       34.05718504, 37.30705132, 40.11793218, 31.21186379, 48.91225779,
       47.67514678, 45.47956897,  7.67026966, 52.23218841, 40.23498858,
       52.00499409, 39.36804119, 47.58312859, 14.48453192, 51.56467243,
       43.2873242 , 47.59780685, 45.6045696 , 44.74354922, 44.88390323,
       53.0148924 , 36.58662869, 48.51718043, 36.81101814, 39.02129517,
       41.50357744, 45.96755134, 43.26197679, 39.67737748, 41.5110768 ,
       35.67682935, 47.42057237, 32.20197202, 13.66678319, 31.39902193,
       48.46227866, 47.22037979, 38.23463516, 43.10266495, 44.58013224,
       -0.57668896, 31.20992783, 30.38018456, 25.35039897, 45.42374975,
       43.35617025, 43.45356094, 43.6356856 , 45.58040163, 39.3363648 ,
       16.17382904, 11.58342516, 44.76323647, 33.36478298, 44.3646678 ,
       47.67514678, 46.60827888, 12.83081939, 40.06716345, 34.34631518,
       44.05697064, 41.97545811, 54.14624543, 24.39649217, 31.06880169])

In [30]:
y_test

72     36.3
241    41.4
55     13.7
123    45.5
126    62.9
       ...
233    32.4
338    36.3
281    44.8
330    12.8
277    27.7
Name: House unit price, Length: 125, dtype: float64

In [31]:
def cout(test,pred):
    score=r2_score(test,pred)
    print('r2 socre is : ',score)
    print('mean sqrd error : ',mean_squared_error(test,pred))

In [32]:
cout(y_test,prediction)

r2 socre is :  0.5150540380417375
mean sqrd error :  91.08227559124258